[Desktop Entry]
Exec=filters
Icon=filters
Type=Application
Categories=Qt;KDE;Utility;
StartupNotify=true

X-KDE-StartupNotify=true
#X-DocPath=filters/index.html

Name=filters
GenericName=Interactive regex file filter
Comment=An application to interactively filter a file through a regular expression chain
